@font-face {
  font-family: w800;
  src: url("../fonts/PlusJakartaSans-ExtraBold.ttf");
}
@font-face {
  font-family: w700;
  src: url("../fonts/PlusJakartaSans-Bold.ttf");
}
@font-face {
  font-family: w600;
  src: url("../fonts/PlusJakartaSans-SemiBold.ttf");
}
@font-face {
  font-family: w500;
  src: url("../fonts/PlusJakartaSans-Medium.ttf");
}
@font-face {
  font-family: w400;
  src: url("../fonts/PlusJakartaSans-Regular.ttf");
}
@font-face {
  font-family: w300;
  src: url("../fonts/PlusJakartaSans-Light.ttf");
}
.curious {
  text-align: center;
  margin-top: 78px;
}
.curious .para {
  font-family: w400;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  color: #ff553c;
}
.curious h1 {
  font-family: w700;
  margin-top: 14px;
  font-size: 38px;
  font-weight: 700;
  line-height: 45.48px;
  text-align: center;
}
.curious .text {
  font-family: w500;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: center;
  margin: 23px;
}
.curious .rectangle {
  display: flex;
  align-items: center;
  border: 1px solid #d7d7d7;
  border-radius: 20px;
  margin: 5px;
}
.curious .rectangle .circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #fff3d6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.curious .rectangle p {
  font-family: w500;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}
.curious .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.curious .cards .card {
  background: #fff3d6;
  margin: 10px;
  border-radius: 26px;
}
.curious .cards .card .image {
  margin: 10px;
}
.curious .cards .card .image img {
  width: 100%;
  height: auto;
}
.curious .cards .card h4 {
  font-family: w500;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: center;
  color: #000000;
}
.curious .cards .card p {
  font-family: w400;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  padding: 18px 32px 44px;
}
.curious .p-3 {
  font-family: w400;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  margin: 43px 10px 0px 10px;
}

.question {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 4px 13.1px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 58px auto 0 auto;
}

.q-heading {
  font-family: w700;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: center;
  margin: 23px auto 0 auto;
}

.q-btn {
  font-family: w700;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  border: none;
  color: #397684;
  background: #ffffff;
  box-shadow: 4px 4px 13.8px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 18px 44px;
  border-radius: 16px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.q-h3 {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: center;
  color: #ff553c;
  margin: 47px auto 0 auto;
}

.q-h1 {
  font-family: w700;
  font-size: 28px;
  font-weight: 700;
  line-height: 40.48px;
  text-align: center;
  margin: 30px auto 0 auto;
}

.q-p {
  font-family: w500;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: center;
  color: #3d3d3d;
  margin: 22px 16px 0 16px;
}

.q-rectangle {
  display: flex;
  align-items: center;
  margin: 25px 10px 0 10px;
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 26px;
}
.q-rectangle .cir {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #cdf9fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.q-rectangle p {
  margin: 0 15px 0 15px;
}

.q-cards {
  text-align: center;
  margin: 25px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.q-cards .card {
  background: #cdf9fe;
  border-radius: 37px;
  padding: 27px 34px;
}
.q-cards .card .card-content {
  background: #ffffff;
  border-radius: 37px;
  text-align: center;
  padding-bottom: 55px;
}
.q-cards .card .card-content h3 {
  font-family: w700;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  padding: 26px 55px 0 55px;
}
.q-cards .card .card-content .insta {
  font-family: w400;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  margin: 31px 17px 0 17px;
}
.q-cards .card .card-content button {
  background: #ff553c;
  margin: 28px 34px 0 34px;
  padding: 18px 38px;
  border-radius: 12px;
  color: #ffffff;
  border: none;
}
.q-cards .card .card-content .price {
  margin: 8px 0 0 0;
  font-family: w400;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: center;
}
.q-cards .card .card-content svg {
  margin: 30px 0 0 0;
}
.q-cards .card .card-content .reviews {
  margin: 5px 0 0 0;
  font-family: w400;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: center;
}
.q-cards .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
}

.convinced {
  background: #faf9fc;
  text-align: center;
}
.convinced p {
  color: #ff553c;
  padding: 43px 0 0 0;
  font-family: w500;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: center;
}
.convinced h3 {
  font-family: w700;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.32px;
  text-align: center;
  padding: 13px 0 0 0;
}
.convinced .swiper-body {
  position: relative;
  height: 100%;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.convinced .swiper-body .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.convinced .swiper-body .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 600px;
}
.convinced .swiper-body .swiper-slide .img {
  display: block;
  width: 100%;
}
.convinced .circle-stars-button {
  display: flex;
  flex-direction: column;
}
.convinced .circle-stars-button .circle-stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.convinced .circle-stars-button .circle-stars .circle {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  border: 5px solid #ff553c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.convinced .circle-stars-button .circle-stars .circle p {
  text-align: center;
  padding-top: 0;
}
.convinced .circle-stars-button .circle-stars .circle p span {
  color: black;
}
.convinced .circle-stars-button .circle-stars .text p {
  font-family: w600;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.9px;
  text-align: center;
  padding: 5px 0 0 0;
}
.convinced .circle-stars-button .circle-stars .text p span {
  color: #000;
}
.convinced .circle-stars-button .button {
  margin-top: 22px;
}
.convinced .circle-stars-button .button button {
  box-shadow: 4px 4px 14.6px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 23px 43px;
  border: none;
  background: #ffffff;
  font-family: w600;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.16px;
  text-align: center;
}

.footer {
  background: #faf9fc;
  margin: 70px 26px;
  border-radius: 60px;
}
.footer .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .main .div-links {
  margin-top: 15px;
}
.footer .main .div-links ul {
  list-style-type: none;
}
.footer .main .div-links ul li {
  margin-bottom: 16px;
}
.footer .main .div-links ul li a {
  text-decoration: none;
  font-family: w400;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  color: #3a3a3a;
}
.footer .main .div-3 {
  margin-top: 25px;
}
.footer .main .div-3 button {
  padding: 17px 27px;
  border: none;
  border-radius: 12px;
  background: #ff553c;
  color: #ffffff;
  font-family: w700;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.9px;
  text-align: center;
}
.footer .main .div-3 p {
  margin-top: 14px;
  margin-bottom: 18px;
  font-family: w400;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}
.footer .lang {
  display: flex;
  justify-content: space-between;
}
.footer .lang .lang-btn {
  display: flex;
  align-items: center;
  margin-left: 85px;
  margin-bottom: 45px;
}
.footer .lang .lang-btn button {
  margin-right: 100px;
  padding: 10px 18px;
  border: none;
  background: #ffffff;
  box-shadow: 4px 4px 13.1px 0px rgba(0, 0, 0, 0.2509803922);
}
.footer .lang .icon {
  margin-right: 85px;
}

.f2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  margin: 14px 50px 80px 50px;
}
.f2 .terms {
  display: flex;
}
.f2 .terms p {
  margin: 0 77px 0 0;
  font-family: w500;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: center;
}

.sidebar {
  display: none;
  position: fixed;
  right: -250px;
  top: 100px;
  height: 700px;
  width: 250px;
  background: #ffffff;
  border-left: 2px solid #C5C5C5;
  transition: all 5s ease-in;
}
.sidebar nav {
  padding-top: 50px;
}
.sidebar nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.sidebar nav ul li button {
  margin-left: 15px;
}
.sidebar nav ul li a {
  font-family: w600;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.64px;
  text-align: left;
  color: #747474;
  text-decoration: none;
}

.showData {
  display: flex;
  right: 0px;
}

@media (min-width: 576px) {
  .q-rectangle {
    margin: 25px 30px 0 30px;
    padding: 25px;
  }
  .q-rectangle p {
    margin-left: 10px;
  }
  .convinced .circle-stars-button .circle-stars {
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .q-rectangle {
    margin: 25px 50px 0 50px;
  }
  .q-rectangle p {
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  .curious {
    text-align: center;
    margin-top: 78px;
  }
  .curious .para {
    font-family: w400;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    color: #ff553c;
  }
  .curious h1 {
    font-size: 48px;
    line-height: 60.48px;
  }
  .curious .text {
    margin-left: 60px;
    margin-right: 60px;
  }
  .curious .rectangle {
    margin: 35px;
  }
  .curious .rectangle p {
    margin-left: 20px;
  }
  .curious .cards {
    flex-direction: row;
    -moz-column-gap: 5px;
         column-gap: 5px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .curious .p-3 {
    margin: 43px 150px 0px 150px;
  }
  .q-h1 {
    font-size: 38px;
    line-height: 44.48px;
    margin: 30px 150px 0 150px;
  }
  .q-p {
    margin: 22px 61px 0 61px;
  }
  .q-rectangle {
    margin: 25px 100px 0 100px;
  }
  .q-rectangle p {
    margin-left: 10px;
    font-family: w500;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
  }
  .q-cards {
    margin: 45px 100px;
    flex-direction: row;
    justify-content: space-between;
  }
  .q-cards .card {
    margin-inline: 12px;
    width: 25%;
  }
  .convinced .circle-stars-button {
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 40px;
  }
  .convinced .circle-stars-button .circle-stars {
    justify-content: center;
  }
  .footer .main {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .f2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .q-h1 {
    font-size: 48px;
    line-height: 60.48px;
  }
  .q-rectangle {
    margin: 25px 200px 0 200px;
    padding: 15px;
  }
  .q-rectangle p {
    margin-left: 30px;
  }
  .convinced .circle-stars-button {
    margin: 32px 132px;
  }
  .footer .main {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}
@media (min-width: 1400px) {
  .curious h1 {
    margin-left: 225px;
    margin-right: 225px;
  }
  .curious .text {
    margin-left: 170px;
    margin-right: 170px;
  }
  .curious .rectangle {
    margin: 70px;
  }
  .curious .rectangle p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .curious .cards {
    margin-left: 70px;
    margin-right: 70px;
  }
  .curious .p-3 {
    margin: 43px 350px 0px 350px;
  }
  .q-h1 {
    font-size: 58px;
    line-height: 60.48px;
  }
  .q-rectangle {
    margin: 25px 300px 0 300px;
  }
  .q-rectangle p {
    margin-left: 50px;
  }
  .menu-bar nav ul {
    display: flex;
  }
}/*# sourceMappingURL=custom.css.map */